#root {
  width: 320px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

header h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card h2 {
  font-size: 1.2rem;
  margin: 0;
}

.card p {
    margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button:disabled {
    background-color: #333;
    cursor: not-allowed;
}


input[type="file"] {
    font-family: inherit;
    font-size: 1em;
}

.message {
  margin-top: 1rem;
  font-weight: bold;
}